.modal-create-container{
    // min-width: 1000px;
   .css-1gsv261{
    height: 49px;
   }
   .MuiBox-root{
    height: 100%;
    .gird-all{
        display: flex;
        align-items: center;
        justify-content: center;
        .gird-row{
            display: flex;
            align-items: center;
            justify-content: center;
            .date{
                margin-bottom: 5px;
            }
        }
        .left{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .icon-content{
                svg{
                    font-size: 150px;
                    color: #7467ef;
                }
           
            }
        }
    }
   
   
   }
    .icon-exit{
        color: #7467ef !important;
        font-weight: 500;
    }
  
}
   
