input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
    &:hover{
        cursor: pointer;
    }
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
    &:hover{
        cursor: pointer;
    }
}